*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f6f6f6;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;

}

.calculator{
  width: 400px;
  padding: 20px;
  background-color: #a8a5a5;
  border: 2px #444 solid;
  border-radius: 15px;
  margin-top: 50px;

}
.buttons-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.color-btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-bottom: 10px;
}
.screen {
  padding: 10px 20px;
  border: 2px #444 solid;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #eee;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}
.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}
.btn {
  padding: 20px;
  border: 2px #444 solid;
  border-radius: 5px;
  background-color: #eee;
  font-size: 20px;
}

.btn:hover {
  background-color: #a8a7a7;
}

.btn:active {
  background-color: #ccc;
}
.deleteBtn,.clearBtn{
  padding: 20px;
  border: 2px #444 solid;
  border-radius: 5px;
  font-size: 20px;
}
.deleteBtn{
  background-color: rgb(240, 95, 95);
}
.clearBtn{
  background-color: rgb(88, 148, 88);
}